@import url("header-historias.css");
@import url("product-scroller.css");
@import url("footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #0a141d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
i {
  cursor: pointer;
}

:root {
  --blanco: #e0e0e0;
  --negro: #0e0e0e;
  --titulos: #0fd3ff;
  --fondo_obscuro: #110042;
  --fondo_claro: #34265e;
  --lineas: #f516cc;
}
