@import url("/header-nav.css");
@import url("/footer.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
  list-style: none;
  text-decoration: none;
}

:root {
  --blanco: #e0e0e0;
  --negro: #0e0e0e;
  --titulos: #0fd3ff;
  --fondo_obscuro: #110042;
  --fondo_claro: #34265e;
  --lineas: #f516cc;
}
